@font-face {
  font-family: "iconfont"; /* Project id 3256787 */
  src: url('iconfont.woff2?t=1647588346034') format('woff2'),
       url('iconfont.woff?t=1647588346034') format('woff'),
       url('iconfont.ttf?t=1647588346034') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-fanhuishuye:before {
  content: "\e66b";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-shouji:before {
  content: "\e602";
}

